<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.evy.listener.ListenerTestNG"></listener>
    </listeners>
    <test name="C:/Users/evyco/IdeaProjects/PageObjectModel" parallel="methods" thread-count="3">
        <classes>
            <class name="com.evy.tests.MyTests">
                <methods>
                    <include name="signupTest"/>
                    <include name="loginTest"/>
                    <include name="createNewCustomerTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>